{% extends "template_base.html" %}

{% block titulo %}Importar JSON{% endblock %}

{% block contenido %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="nombre_partida">Nombre de la partida:</label>
    <input type="text" id="nombre_partida" name="nombre_partida" required>

  
    <label for="comandante_west">Comandante WEST:</label>
    <input type="text" name="comandante_west" id="comandante_west">

    <label for="comandante_east">Comandante EAST:</label>
    <input type="text" name="comandante_east" id="comandante_east">

    <label for="comandante_ind">Comandante INDEPENDIENTE:</label>
    <input type="text" name="comandante_ind" id="comandante_ind">

    <label for="bando_ganador">Bando ganador:</label>
    <select name="bando_ganador" id="bando_ganador" required>
    <option value="WEST">WEST </option>
    <option value="EAST">EAST </option>
    <option value="IND">INDEPENDIENTE </option>
    </select>
    <label for="tipo">Tipo de partida:</label>
    <input type="text" name="tipo" id="tipo" value="INTERNA" required>
    <input type="file" name="archivo_json" accept=".json" required>
    <button type="submit">Importar</button>
</form>
{% endblock %}